
{{#if commentForm}}
<h1>Leave a Comment?</h1>
<div>
  <form>
    <div class="form-group">
      <label for="user">Username</label>
      {{input value=user id="user"}}
    </div>

    <div class="form-group">
      <label for="rating">Rating</label>
      {{#x-select value=0 action="selectRating"}}
      {{#x-option value=1}}<span>&bigstar;&star;&star;&star;&star;</span>{{/x-option}}
      {{#x-option value=2}}<span>&bigstar;&bigstar;&star;&star;&star;</span>{{/x-option}}
      {{#x-option value=3}}<span>&bigstar;&bigstar;&bigstar;&star;&star;</span>{{/x-option}}
      {{#x-option value=4}}<span>&bigstar;&bigstar;&bigstar;&bigstar;&star;</span>{{/x-option}}
      {{#x-option value=5}}<span>&bigstar;&bigstar;&bigstar;&bigstar;&bigstar;</span>{{/x-option}}
      {{/x-select}}
    </div>

    <div class="form-group">
      <label for="comment">Comment</label>
      {{#bs-textarea value=comment id="comment"}}{{/bs-textarea}}
    </div>
    <button class="btn btn-sm btn-success" {{action 'save'}}>Submit Comment</button>
  </form>
</div>
{{else}}
<button class="btn btn-sm btn-success" {{action 'showCommentForm'}}>Have a Comment?</button>
{{/if}}
