<h2>More Information About {{model.name}}</h2>
{{update-item item=model updateItem='updateItem'}}
{{item-detail item=model saveAverage='saveAverage' submitComment='submitComment' destroyItem='destroyItem'}}
